body{
  background-color: #EFCAFD;
  background-image: url(../recursos/NubesBA.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Contenedor-Imagen {
  height: 100vh;
  position: fixed;
}

.Contenedor-Titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
}

.T1 {
  position: absolute;
  font-family: Montserrat;
  color: #7377FF;
  font-weight: 750;
  font-size: 200px;
  z-index: 1;
}

.T2 {
  position: absolute;
  padding-top: 10%;
  color: #443C8C;
  font-weight: lighter;
  font-size: 200px;
  z-index: 2;
}

@media (max-width: 1440px) {
  body {
    background-color: #EFCAFD;
    background-image: url(../recursos/NubesBA1440_1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .T1 {
      position: absolute;
      font-family: Montserrat;
      color: #7377FF;
      font-weight: 750;
      font-size: 150px;
      z-index: 1;
    }
  
  .T2 {
    position: absolute;
    padding-top: 10%;
    color: #443C8C;
    font-weight: lighter;
    font-size: 150px;
    z-index: 2;
  }
}

.Contenedor-Boton {
  padding-top: 16%;
}

.Boton {
  position: relative;
  background: linear-gradient(to bottom, #7377FF, #5B4E9D 25%);
  padding: 15px 32px;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgb(88, 88, 88);
}