body {
  background-color: #5B4E9D;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  margin: 0;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contenedor-Imagen {
  height: 100vh;
  position: fixed;
}

.Contenedor-Titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.T1 {
  font-family: Montserrat;
  color: rgba(255, 255, 255, 50%);
  font-weight: 750;
  font-size: 130px;
}

.T2 {
  position: absolute;
  padding-top: 6%;
  font-family: Harrington;
  color: #ffffff;
  font-weight: lighter;
  font-size: 130px;
}

.Contenedor-Boton {
  background: linear-gradient(to bottom, #7377FF, #5B4E9D 25%);
  margin-top: none;
  padding: 15px 32px;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgb(88, 88, 88);
}