h1 {
    color: white;
    font-size: 170px;
    font-weight: lighter;
}

body {
    background: linear-gradient(to bottom, #5B4E9D 50%, #EFCAFD);
}

.Contenedor {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.Contenedor_Estrellas {
    position: absolute;
    display: flex;
    justify-content: center;
}*/

.Estrellas-Img {
    width: 95%;
    margin-bottom: 15rem;
}

.Inicio_Titulo {
    margin-bottom: 2%;
}

.Boton_Comenzar {
    background: linear-gradient(to bottom, #EFCAFD, #fdafdc 25%);
    margin-top: none;
    padding: 15px 32px;
    border-radius: 1rem;
    box-shadow: 3px 3px 15px rgb(88, 88, 88);
}

.Contenedor_Decoracion--Nubes {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 26rem;
}

.Nubes-Img {
    width: 35%;
}