body {
  background: radial-gradient(circle, #5B4E9D, #3C3D48);
  background-repeat: no-repeat;
  background-size: cover;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
}

.Contenedor-Pregunta{
  background-image: url(../recursos/NubesPre.png);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contenedor-Texto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 600px;
  font-size: 56px;
  color: #EFCAFD;
}
  .InterPregunta1{
    position: absolute;
  }

  .MarcoPregunta{
    position: absolute;
    padding-top: 8%;
  }

.Contenedor-Boton{
  display: flex;
  justify-content: center;
  padding-top: 16%;
}

  .BotonSi {
    cursor: pointer;
    background: linear-gradient(to bottom, #7377FF 12%, #5B4E9D);
    border-color: #707070;
    border: 0;
    border-radius: 1rem;
    padding: 16px 36px;
    margin-right: 130px;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
  }
  .BotonNo{
    cursor: pointer;
    background: linear-gradient(to bottom, #7377FF 12%, #5B4E9D);
    border-color: #707070;
    border: 0;
    border-radius: 1rem;
    padding: 16px 32px;
    margin-left: 130px;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
  }