body {
  background: radial-gradient(circle, #5B4E9D, #3C3D48);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Contenedor {
  background-image: url(../recursos/NubesPre.png);
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Montserrat;
}

.Contenedor-Texto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 625px;
  font-size: 56px;
  color: #EFCAFD;
}
  .InterPregunta1{
    position: absolute;
    padding-right: 650px;
    padding-bottom: 100px;
  }

  .InterPregunta2{
    position: absolute;
    padding-left: 500px;
    padding-top: 150px;
  }

  .MarcoPregunta{
    position: absolute;
    padding-top: 8%;
  }

.Contenedor-Boton{
  display: flex;
  justify-content: space-evenly;
  padding-top: 16%;
}

  .BotonSi {
    background: linear-gradient(to bottom, #7377FF 12%, #5B4E9D);
    border-color: #707070;
    border: 0;
    border-radius: 1rem;
    padding: 16px 36px;
    margin-right: 130px;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
  }
  .BotonNo{
    background: linear-gradient(to bottom, #7377FF 12%, #5B4E9D);
    border-color: #707070;
    border: 0;
    border-radius: 1rem;
    padding: 16px 32px;
    margin-left: 130px;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
  }