* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Harrington;
}

a {
    text-decoration: none;
    color: white;
    font-family: Montserrat SemiBold;
    font-size: 25px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #a4a7ff;
}

::-webkit-scrollbar-thumb {
    background-color: #7377FF;
    border-radius: 4px;
}
